
// Body
$laravel-border-color: lightgray;
$body-bg: #f5f8fa;

// Borders
// $laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-epic: #52ff77;
$brand-primary: #2b60af;
$brand-info: #8eb4cb;
$brand-success: #2baf43;
$brand-warning: #cbb956;
$brand-danger: #af312b;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Prevents page shift with v-scrollbar
html {
    width:100vw;
    overflow-x:hidden;
}

// Transparent blockquotes
blockquote {
  border-color: $brand-success !important;
}

// Shorhand for inline
.inline {
  display: inline-block;
}

// SVG image
.svg {
  width: 180vw;
  margin: auto; 
  z-index: -2;  
  display: block; 
  position: fixed;
}

// Remove weird effect by bootstrap
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}

// Navbar search element
.nav-search {
  display: inline-block !important;
  margin: 7px 15px;
  @media only screen and (max-width: 500px) {
    display: none !important;
  }
}
.nav-search input {
  border-radius: 20px !important;
}

// Profile pic style
.profile-pic {
  border: 2px solid $laravel-border-color;
}
.profile-pic-nav {
  width: 36px; 
  height: 36px;
  background-color: $body-bg;
  transform: translateY(-7px);
}

// Bootstrap panel used for posts
.panel-content {
  line-height: 0;
  border: 0;
}

// There's a thin line between literature and art
.panel-separator {
  border-bottom: 1px solid $laravel-border-color;  
}

// Prevents selecting element
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
